*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

/* ************************************** */

nav{
    background-color: chocolate;
    text-transform: capitalize;
    padding: 20px 0;
    font-size: 20px;
}
.navigate{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    gap: 30px;
}
.burger{
    display: none;
}
.burger ul{
    position: absolute;
    width: 100%;
    background-color: coral;
    left: 0;
    text-align: center;
    transform: translateX(-100%);
    transition: .7s;
}
.burger:hover ul{
    transform: translateX(0);
}

/* sxal tarberak */

/* .fa-solid{
    border: 1px solid black;
}

.fa-solid:hover + ul{
    transform: translateX(0);
} */

/* sxal tarberak */

@media screen and (max-width:1024px){
    nav{
        padding: 20px ;
    }

}
@media all and (max-width:768px) {
    .menu{
        display: none;
    }
    .burger{
        display: block;
    }
}

.heading{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    padding: 60px 0;
}
.image,
.text{
    width: calc(33.33% - 14px);
}

@media (min-width:769px) and (max-width:1024px) {
    .heading{
        padding:60px 20px;
    }
    .topImage{
        width: 100%;
    }
    .downImage,
    .text{
        width: calc(50% - 10px);
    }
}

@media (320px <= width <= 768px) {
    .heading{
        padding:60px 20px;
    }
    .topImage{
        width: 100%;
    }
    .downImage,
    .text{
        width: 100%;
    }
}

/* Grid */

.gridSec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

@media (max-width:1024px){
    .gridSec{
        padding: 60px 20px;
        grid-template-columns: repeat(6,1fr);
    }
    .gridSec .image1:nth-child(1){
        grid-column: 1/7;
    }
    .gridSec .image1:nth-child(2){
        grid-column: 1/4;
    }
    .text1{
        grid-column: 3 span;
    }
}

@media (max-width:768px){
    .gridSec{
        padding: 10px 20px;
        grid-template-columns: repeat(6,1fr);
    }
    .gridSec .image1:nth-child(1){
        grid-column: 1/7;
    }
    .gridSec .image1:nth-child(2){
        grid-column: 1/7;
    }
    .text1{
        grid-column: 6 span;
    }
}